{% extends 'base.html.twig' %}

{% block title %}Nos meilleurs contacts{% endblock %}

{% block body %}
<div class="container">
    <h1 class = "my-3">Voici les contacts !</h1>

    <div class="row">
        {% for contact in contacts %}
                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <strong>{{ contact.nom }} {{ contact.prenom }}</strong> <br>
                            </div>

                            <a href="{{ contact.Image }}">
                                <img src="{{ contact.Image }}" alt="Image du contact" style="height: 200px; width: 100%;  display: block">
                            </a>

                            <div class="card-body">
                                <p class="card-text">
                                    {{ contact.NumTel }}
                                </p>
                                <a href="{{ contact.Image }}" class="btn btn-secondary">Afficher le détail</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
